apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: labelstudio-pvc
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 10Gi
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: labelstudio
  annotations:
    deployment.kubernetes.io/revision: '1'
spec:
  replicas: 1
  selector:
    matchLabels:
      app: labelstudio
  template:
    metadata:
      labels:
        app: labelstudio
    spec:
      containers:
        - name: container
          image: >-
            image-registry.openshift-image-registry.svc:5000/modemo/labelstud:latest
          ports:
            - containerPort: 8080
              protocol: TCP
          volumeMounts:
            - mountPath: /opt/app-root/src/.local
              name: labelstud-data
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: Always
      volumes:
        - name: labelstud-data
          persistentVolumeClaim:
            claimName: labelstudio-pvc
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext: {}
      schedulerName: default-scheduler
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  revisionHistoryLimit: 10
  progressDeadlineSeconds: 600
---
kind: Service
apiVersion: v1
metadata:
  name: labelstudio
spec:
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  selector:
    app: labelstudio
---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: labelstudio
spec:
  to:
    kind: Service
    name: labelstudio
    weight: 100
  port:
    targetPort: 8080
  wildcardPolicy: None