apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://github.com/redhat-na-ssa/demo-ai-gitops-catalog/components/operators/openshift-pipelines-operator-rh/operator/overlays/pipelines-1.11?ref=v0.03
