name: File Linting
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  kustomize-lint:
    runs-on: ubuntu-latest
    env:
      KUSTOMIZE_VERSION: 3.9.4
      KUSTOMIZE_URL: https://github.com/kubernetes-sigs/kustomize/releases/download/v${KUSTOMIZE_VERSION}/kustomize_${KUSTOMIZE_VERSION}_linux_amd64
      BIN_PATH: /usr/bin
    steps:
      - name: Install Kustomize
        run: |
          sudo curl "${KUSTOMIZE_URL}" -L -o ${BIN_PATH}/kustomize
          sudo chmod +x ${BIN_PATH}/kustomize
      - name: Code Checkout
        uses: actions/checkout@v2
      - name: Validate Manifests
        run: scripts/validate_manifests.sh

  yaml-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v2
      - name: Validate YAML
        uses: ibiqlik/action-yamllint@v3

  bash-lint:
    name: bash-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          version: v0.8.0
          severity: warning

  containerfile-lint:
    runs-on: ubuntu-latest
    name: hadolint
    steps:
      - uses: actions/checkout@v2
      - name: Run Hadolint
        uses: jbergstroem/hadolint-gh-action@v1
        with:
          dockerfile: "**/Dockerfile"
